:root {

    --secondary-color: rgb(238, 238, 195);

}

header {

    display: flex;

    justify-content: space-between;

    align-items: center;

    flex-wrap: wrap;

    background-color: rgb(30, 235, 208);

    padding: 0 35px;

    position: -webkit-sticky;

    position: sticky;

    top: 0;

    z-index: 9999;

}

header h1 {

    font-weight: bold;

    font-size: 40px;

    color: var(--secondary-color);

    margin: 0;

    text-shadow: 0 0 15px rgba(0, 0, 0, .6);

}

header a {

    color: var(--secondary-color);

    text-decoration: none;

}

header nav {

    margin: 7px 0;

}

header nav ul {

    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;

    align-items: center;

    list-style: none;

}

header nav ul li a {

    padding: 10px 15px;

    font-weight: light;

    font-size: 1.7vw;

    text-shadow: 0 0 15px rgba(0, 0, 0, .6);

}

footer {

    
    display: flex;

    justify-content: space-between;

    flex-wrap: wrap;

    background-color: rgb(30, 235, 208);

    padding: 15px 35px;

}

footer h2 {

    flex: 0 15%;

    font-weight: bold;

    font-size: 40px;

    color: var(--secondary-color);

    margin: 0;

    text-shadow: 0 0 15px rgba(0, 0, 0, .6);

}

footer a { 
    
    color: var(--secondary-color);

}

footer div address {

    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    align-items: center;

}

footer div address a{

    padding: 10px 15px;

    font-weight: light;

    font-size: 1.4vw;

    text-shadow: 0 0 20px rgba(0, 0, 0, .6);

}



