:root {

    --HF-color: rgb(30, 100, 8);

    --secondary-color: rgb(238, 238, 195);

}


header {

    display: flex;

    justify-content: space-between;

    align-items: center;

    flex-wrap: wrap;

    background-color: rgb(30, 100, 8);

    padding: 0 35px;

    position: -webkit-sticky;

    position: sticky;

    top: 0;

    z-index: 9999;

}

header h1 {

    font-weight: bold;

    font-size: 40px;

    color: var(--secondary-color);

    margin: 0;

    text-shadow: 0 0 15px rgba(0, 0, 0, .6);

}

header a {

    color: var(--secondary-color);

    text-decoration: none;

}

header nav {

    margin: 7px 0;

}

header nav ul {

    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;

    align-items: center;

    list-style: none;

}

header nav ul li a {

    padding: 10px 15px;

    font-weight: light;

    font-size: 1.7vw;

    text-shadow: 0 0 15px rgba(0, 0, 0, .6);

}

footer {

    
    display: flex;

    justify-content: space-between;

    flex-wrap: wrap;

    background-color: var(--HF-color);

    padding: 15px 35px;

}

footer h2 {

    flex: 0 15%;

    font-weight: bold;

    font-size: 40px;

    color: var(--secondary-color);

    margin: 0;

    text-shadow: 0 0 15px rgba(0, 0, 0, .6);

}

footer a { 
    
    color: var(--secondary-color);

}

footer div address {

    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    align-items: center;

}

footer div address a{

    padding: 10px 15px;

    font-weight: light;

    font-size: 1.4vw;

    text-shadow: 0 0 20px rgba(0, 0, 0, .6);

}

.hero {

    padding: 15px 35px;

    



}

.hero-img {

    display: flex;

    justify-content: flex-start;

}

section {

    background-color: var(--secondary-color);

}

.about {

    display: flex;

    flex-wrap: wrap;

    align-items: center;

    justify-content: space-between;

    padding: 50px;

    margin: 0 auto;

}

.about-me-text {

    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;

    align-items: flex-start;
    
    width: 50%;

    padding: 0 50px 50px 0;

    margin: 0 auto 0 15px;

    line-height: 1.3vw;
    
}


.section-title {

    width: 80%;

    color: green;

    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.flex-row {

    display: flex;

}

.primary-border {

    font-size: 48px;

    border-right: 4px solid;

    padding-right: 9px;

    margin: 0 auto 35px auto;


 }






